<h2>Resumen de Solicitudes</h2>
<%= image_tag 'solicitud-sin-aprobar.png' %>
<table class="table table-striped table-bordered span8">
  <thead>
  <tr>
    <th>Región</th>
    <th>Creada</th>
    <th>Modificada</th>
    <th>Enviada</th>
  </tr>
  </thead>
  <tbody>
  <% for i in 1..16 %>
      <tr<%= ' class="info"'.html_safe if current_user.region == i %>>
        <td><%= i %></td>
        <td><%= Solicitud.count_by_region_estado_periodo(i,@periodo.id, Solicitud.CREADA ) %></td>
        <td><%= Solicitud.count_by_region_estado_periodo(i,@periodo.id, Solicitud.MODIFICADA ) %></td>
        <td><%= Solicitud.count_by_region_estado_periodo(i,@periodo.id, Solicitud.ENVIADA ) %></td>
      </tr>
  <% end %>


  <tr>
    <td><b>Total</b></td>
    <td><%= Solicitud.count_by_estado_periodo(@periodo.id, Solicitud.CREADA ) %></td>
    <td><%= Solicitud.count_by_estado_periodo(@periodo.id, Solicitud.MODIFICADA ) %></td>
    <td><%= Solicitud.count_by_estado_periodo(@periodo.id, Solicitud.ENVIADA ) %></td>


  </tr>
  </tbody>
</table>