<%= form_for(@period, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @period.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>Los cambios no pudieron ser guardados, porque <%= (@period.errors.count == 1) ? 'se encontró 1 error.':"se encontraron #{@period.errors.count} errores" %>:</h2>

      <ul>
      <% @period.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :nombre, 'Nombre', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :nombre %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time_start, 'Fecha Inicio', :class => 'control-label' %>
      <div class="controls">
        <% if @period.time_start.nil? %>
             <%= f.text_field :time_start %>
        <% else %>
            <%= f.text_field :time_start, :value => @period.time_start.strftime('%d-%m-%Y') %>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time_end, 'Fecha Término', :class => 'control-label' %>
      <div class="controls">
        <% if @period.time_end.nil? %>
            <%= f.text_field :time_end %>
        <% else %>
            <%= f.text_field :time_end, :value => @period.time_end.strftime('%d-%m-%Y') %>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tipo, 'Tipo de carro de compra', :class => 'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button(:tipo, 1 ) %>
          Sin autorización regional, jardín posee un propuesta y puede elegir cualquier material. Materiales pertenecen a una única categoría. (Excel sólo contiene una hoja: presupuestos)
        </label>
        <label class="radio">
          <%= f.radio_button(:tipo, 2 ) %>
          Sin autorización regional, jardín sólo puede elegir materiales que pertenecen a su nivel y fungibles. Materiales pertenecen a distintas categorías. (Excel contiene dos hojas: materiales y presupuestos)
        </label>
        <label class="radio">
          <%= f.radio_button(:tipo, 3 ) %>
          Cada solicitud debe ser autorizada por un administrador regional, jefes regionales sólo pueden mirar. Jardín no posee propuesta y sólo puede elegir materiales que pertenecen a su nivel. Materiales pertenecen a distintas categorías. (Excel contiene dos hojas: materiales y presupuestos)
        </label>


      </div>
    </div>

    <div class="control-group">
        <%= f.label :instrucciones, 'Instrucciones', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :instrucciones, :class => 'redactor2', :rows => 40, :cols => 120 %>
        </div>
    </div>

    <div class="control-group">
      <%= f.label :aprobado, 'Aprobado', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :aprobado, :class => 'redactor2', :rows => 40, :cols => 120 %>
        <span class="help-block">
          Este es el encabezado del mensaje que se envía al jardín infantil una vez que su solicitud ha sido aceptada.
          <br />
          Junto con este mensaje se envía una copia de la solicitud.


        </span>
      </div>
    </div>


  <div class="field">


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
