<br />
<br />

<% if @periodos.size == 0 %>
    <div class="alert alert-info">
    <p>En este momento no existen periodos de compras activos.</p>
    </div>
<% else %>
    <p>Por favor seleccione el proceso de compras en el cual desea participar:</p>


    <table class="table">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Fecha término</th>
        <th>Estado de mi solicitud</th>
        <th>Presupuesto Asignado</th>
        <th>Presupuesto Solicitado</th>
        <th></th>
      </tr>

      <% @periodos.each do |period| %>
          <tr>
            <td><%= period.id %> </td>
            <td><%= period.nombre %></td>
            <td><%= period.time_end.strftime("%d-%m-%Y") %></td>
            <td><%= link_to @current_user.jardin.solicitud(period.id).estado_nombre_usuario, @current_user.jardin.solicitud(period.id) unless @current_user.jardin.solicitud(period.id).nil? %></td>
            <td><%= number_to_currency(@current_user.jardin.presupuesto(period.id), :precision => 0) %></td>
            <td><%= (@current_user.jardin.solicitud(period.id).estado == Solicitud.ENVIADA)? number_to_currency(@current_user.jardin.solicitud(period.id).costo_total, :precision => 0):'$ 0' unless @current_user.jardin.solicitud(period.id).nil? %></td>
            <td><%= link_to 'Ver', @current_user.jardin.solicitud(period.id), :class => 'btn btn-primary' %></td>
          </tr>
      <% end %>
    </table>

<% end %>



