<h1>Listado de procesos de carros de compra</h1>

<% if current_user.isAdmin? %>

<ul>
  <li><%= link_to 'Nuevo proceso de carro de compra', new_periodo_path %></li>
  <li><%= link_to 'Administrar usuarios', usuarios_url %></li>
</ul>

<% end %>


<table class="table">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Fecha Inicio</th>
    <th>Fecha término</th>

    <th>Activo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @periodos.each do |period| %>
      <tr>
        <td><%= period.id %> </td>
        <td><%= period.nombre %></td>
        <td><%= period.time_start.strftime('%d-%m-%Y') %></td>
        <td><%= period.time_end.strftime('%d-%m-%Y') %></td>
        <td class='<%= "periodo-activo-#{period.activo?}" %>'>
          <%= content_tag(:i, '', :class => period.activo? ? 'icon-ok':'icon-remove') %>
        </td>
        <td><%= link_to 'Administrar', period, :class => 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_periodo_path(period), :class => 'btn' if current_user.isAdmin? %></td>
        <td><%= link_to 'Eliminar', period, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' if current_user.isAdmin? %></td>
      </tr>
  <% end %>
</table>

<br />
