<table class="table" id="solicitudes" data-periodo="<%= @periodo.id %>" data-pendientes="<%= !@pendientes.nil? %>">
	<thead>
  <tr>
		<th>Estado</th>
		<th>Dir.Reg</th>
		<th>Glosa Comuna</th>
		<th>Código<br />Jardín</th>
		<th>Nombre Jardín</th>
		<th>Modalidad<br />Atención</th>
    <th>Total<br />Presupuesto</th>
    <th>Total<br />Solicitado</th>
<% if current_user.isAdmin? %>
	<th>Acciones</th>
<% else %>
	<th>Acción</th>
<% end %>
  </tr>
	</thead>
	<tbody>
	</tbody>

	<tfoot>
	    <tr>
	        <th>TOTAL</th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th style="text-align:center"></th>
			<th style="text-align:center"></th>
	    </tr>
	</tfoot>
	
</table>