<% if current_user.isAdmin? or (current_user.region > 0 and current_user.jardin_codigo == 0)%>
    <%= render :partial => 'index_admin' %>
<% else %>
    <%= render :partial => 'index'  %>
<% end %>

