<%= render :partial => "header" %>

<div class="alert alert-info">
Estamos procesando la lista de jardines y materiales, por favor espera un momento...
</div>

<script>
  setTimeout('location.reload()',10000);
</script>

