<%= render :partial => "header" %>

<% if current_user.isAdmin? or (current_user.region > 0 and current_user.jardin_codigo == 0) %>
    <div class="modal hide" id="modal_confirmar" >
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Reporte en Excel</h3>
      </div>
      <%= form_tag "/solicitudes/xls?periodo_id=#{@periodo.id}" do |f| %>

          <div class="modal-body">
            <p>Por favor ingresa tu email y te enviaremos el reporte una vez que hayamos terminado de generarlo:</p>
            <p><%= email_field_tag('email') %></p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
            <%= submit_tag "Solicitar reporte Excel",  :class => "btn btn-primary" %>
          </div>
      <% end %>

    </div>
<% end %>


<%= render :partial => 'solicitudes/navegation', :locals => {:active => 0} %>


<%= render :partial => "estado_solicitudes_#{@periodo.tipo}" %>



<div style="clear: both">
</div>
<h2>Estado de solicitudes por jardín</h2>


<%= render :partial => 'tabla' %>


<br />
