<%= render :partial => 'header' %>

<br />

Para continuar es necesario que cargues una planilla en formato XLSX con el listado de materiales y
presupuestos para todos los jardines que estarán activos en este proceso de carro de compra.


<br /><br />

<%= direct_upload_form_for @uploader do |f| %>
    <%= f.file_field :planilla %>
    <%= f.submit 'Subir listado de materiales' %>
<% end %>