<h1>Listing detalles</h1>

<table>
  <tr>
    <th>Solicitud</th>
    <th>Material</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @detalles.each do |detalle| %>
  <tr>
    <td><%= detalle.solicitud_id %></td>
    <td><%= detalle.material_id %></td>
    <td><%= detalle.cantidad %></td>
    <td><%= link_to 'Show', detalle %></td>
    <td><%= link_to 'Edit', edit_detalle_path(detalle) %></td>
    <td><%= link_to 'Destroy', detalle, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Detalle', new_detalle_path %>
