<% if notice %>
	<div class="alert alert-success">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<% if alert %>
	<div class="alert alert-danger">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<p><%= alert.html_safe %></p>
	</div>
<% end %>


<div align="center">
<table width="799" height="673" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<%= image_tag("plataforma-nueva_01.png", :width => 799, :height => 25)%>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="left" valign="top">
			<%= image_tag("plataforma-nueva_02.png", :width => 799, :height => 134)%>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<%= image_tag("plataforma-nueva_03.png", :width => 799, :height => 56)%>
		</td>
	</tr>
	<tr>
		<td rowspan="2">
			<%= image_tag("plataforma-nueva_04.png", :width => 203, :height => 413)%>
			</td>
		<td align="left" valign="top" id="login_input" >
			<%# image_tag("plataforma-nueva_05.png", :width => 378, :height => 256, :id => "")%>
			<br /><br />
			<div style="text-align:center">
				<%= form_tag sessions_path do %>
					<p>Usuario: <br />
					<%= text_field_tag "username", '',:size => 8 %></p>
				
					<p>Contraseña: <br />
					<%= password_field_tag "password", '', :size => 8 %></p>
					<br />
  					<%= recaptcha_tags site_key: '6LeKDsYZAAAAAFXqlrjsJRrnN-OV_LP0UIyii7W7'%>

					<%= submit_tag "Ingresar", :class => 'btn btn-success' %>
				
				<% end %>
			</div>
			
			</td>
		<td rowspan="2">
			<%= image_tag("plataforma-nueva_06.png", :width => 218, :height => 413)%>
			</td>
	</tr>
	<tr>
		<td>
			<%= image_tag("plataforma-nueva_07.png", :width => 378, :height => 157)%>
			</td>
	</tr>
	<tr>
		<td colspan="3" align="left" valign="top">
			<%= image_tag("plataforma-nueva_08.png", :width => 799, :height => 45)%>
		</td>
	</tr>
</table>
</div>