
<%= form_for(@material, :url => "/periodos/#{@periodo.id}/materiales/#{@material.id}", :html => {:class => "form-horizontal"}, :multipart => true) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
        <%= f.label :codigo, nil, :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :codigo %>
		</div>
  </div>

  <div class="control-group">
        <%= f.label :producto, "Nombre Producto", :class => 'control-label' %>
		<div class="controls">
    	<%= f.text_field :producto %>
		</div>
  </div>

  <div class="control-group">
    <%= f.label :categoria, nil, :class => 'control-label' %>
		<div class="controls">
    <%= f.select :categoria_id,  Categoria.all.collect {|p| [ p.nombre, p.id ] } %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :precio_neto, nil, :class => 'control-label' %>
		<div class="controls">
    <%= f.text_field :precio_neto %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :caracteristicas, nil, :class => 'control-label' %>
		<div class="controls">
    <%= f.text_area :caracteristicas, :rows => 8 %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :coeficienteTecnico, nil, :class => 'control-label' %>
		<div class="controls">
    <%= f.text_area :coeficienteTecnico, :rows => 8 %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :imagen, nil, :class => 'control-label' %>
		<div class="controls">
    <%= f.file_field :image %>
		</div>
  </div>

  <div class="control-group">
  	<%= f.label :niveles, nil, :class => 'control-label' %>
	<div class="controls">
		<% for i in NIVELES %>
			<%= check_box_tag "material[nivel[#{i}]]", 1, @material.has_nivel(i) %>
			<span class="help-inline">
				<%= i %>
			</span><br />
		<% end %>
	</div>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
