<h1>Listado de materiales para periodo de postulación #<%= @periodo.id %></h1>
<h2><%= @periodo.nombre %></h2>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 4} %>
	<ul class="nav nav-list">
	<li class="nav-header">Materiales</li>
    <li><%= link_to "Subir imágenes de los materiales", {:action => :upload, :periodo_id => @periodo.id} %></li>
	<li><%= link_to '<i class="icon-plus"></i> Nuevo Material'.html_safe, {:controller => "materiales", :action => "new"} %></li>
	</ul>

<table class="table table-stripped">
  <tr>
	<th>Categoría</th>
    <th>Código</th>
	<th>Fotografía</th>
    <th>Producto</th>
	<th>Niveles</th>
    <th>Precio neto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materiales.each do |material| %>
  <tr>
	<td><%= material.categoria.nombre %></td>
    <td><%= material.codigo %></td>
	<td><%= image_tag material.image.thumb.url %></td>
    <td><%= material.producto %></td>
	<td><%= material.niveles.join(",") %></td>
    <td><nobr><%= number_to_currency(material.precio_neto, {:precision => 0,:delimiter => '.'} ) %></nobr></td>
    <td><%= link_to 'Modificar', edit_periodo_material_path(params[:periodo_id],material), :class => "btn" %></td>
    <td><%= link_to 'Eliminar', {:controller => "materiales", :action => :destroy, :periodo_id => params[:periodo_id], :id => material.id}, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

