<% m = @material %>
    <div class="foto">
      <center>
        <%= image_tag m.square_image if m.has_picture? %>
      </center>
    </div>


<% unless m.caracteristicas.nil? %>
    <div class="caracteristicas">
      <h3>Descripción</h3>
      <%= h(m.caracteristicas).gsub("**", "<br />").html_safe %>
    </div>
<% end %>
<% if !m.coeficienteTecnico.nil? and m.coeficienteTecnico.size > 1 %>
    <div class="coeficienteTecnico">
      <h3>Coeficiente</h3>
      <%= h(m.coeficienteTecnico).gsub("**", "<br />").html_safe %>
    </div>
<% end %>
