<p id="notice"><%= notice %></p>

<h3><%= @material.producto %></h3>

<p>
  <b>Código:</b>
  <%= @material.codigo %>
</p>

<p>
  <b>Categoría:</b>
  <%= @material.categoria.nombre %>
</p>


<p>
  <b>Precio neto:</b>
  <%= number_to_currency(@material.precio_neto, {:precision => 0,:delimiter => '.'} ) %>
</p>

<p>
  <b>Características:</b>
  <%= @material.caracteristicas %>
</p>

<p>
  <b>Coeficiente técnico:</b>
  <%= @material.coeficienteTecnico %>
</p>

<p>
<%= image_tag @material.image_url.to_s if @material.has_picture? %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materiales_path %>
