<%= @periodo.aprobado.html_safe %>

<br />
<p>Le informamos que su solicitud luego de ser revisada por la oficina regional, ha sido APROBADA, por lo que será transmitida al nivel central para que gestione la adquisición. Muchas gracias por hacer uso de la plataforma para gestionar su pedido.</p>
<p>Comentarios:</p><pre><%= @solicitud.observacion_administrador %></pre>

<br />


<%= render :partial => 'solicitudes/detalle' %>


<p>Este es un correo generado automáticamente, por favor no lo responda.</p>
