<p>Estimado(a) <%= @solicitud.usuario.nombre %>:</p>
<p>Confirmamos la recepción de su carro de compras por parte de la dirección regional y Nivel Central.</p>

<%= render :partial => 'solicitudes/detalle' %>


<p>Este es un correo generado automáticamente, por favor no lo responda.</p>

