Le informamos que su solicitud luego de ser revisada por la oficina regional, NO ha sido aprobada, por los siguientes motivos:


<%= @solicitud.observacion_administrador %>


Debe ingresar nuevamente a la Plataforma y realizar su pedido, considerando los comentarios realizados por la oficina regional. Si tiene dudas puede contactar al Jefe(a) Regional de Finanzas. Muchas gracias por hacer uso de la plataforma para gestionar su pedido.

Este es un correo generado automáticamente, por favor no lo responda.
