<% mostrar_cantidad_propuesta = false %>
<% detalles = {} %>
<% for m in @materiales %>
    <% detalles[m.id] = @solicitud.detalle_for_material(m) %>
    <% mostrar_cantidad_propuesta = true if !@mailer and detalles[m.id].cantidad_propuesta > 0 %>
<% end %>


<table class="table"> 
	<thead>
		<tr>
			<% unless @solicitud.periodo.modo == 0 %>
                <th>Categoría</th>
            <% end %>
			<% if @mailer.nil? %>
				<th>Foto Referencial o descripción</th>
            <% else %>
                <th>Foto Referencial</th>
			<% end %>
			<th>Material</th>
			<% if mostrar_cantidad_propuesta %>
				<th>Cantidad propuesta</th>
			<% end %>
			<th>SCME</th>
			<th>SCMA</th>
			<th>SC</th>
			<th>MME</th>
			<th>MMA</th>
			<th>MED</th>
			<th>TME</th>
			<th>TMA</th>
			<th>TRA</th>
			<th>HET</th>
			<th>JI</th>
			<th>Cantidad total solicitada</th>
			<th>Costo Unitario</th>
			<th>Costo Total</th>
		</tr>
	</thead>

	<tbody>
		<% for m in @materiales %>
			<% d = detalles[m.id] %>
			<tr>
                <% unless @solicitud.periodo.modo == 0 %>
				<td>
					<%= m.nombre_categoria %>
				</td>
                <% end %>

                <td style="text-align: center">
                      <% if @mailer %>
                        <%= image_tag m.thumb_image if m.has_picture? %>
                      <% else %>
                        <a class="btn" data-toggle="modal" data-target="#materiales-modal" href="/materiales/modal/<%= m.id %>">
                          <% if m.has_picture? %>
                          <%= image_tag m.thumb_image, :alt => 'Ver descripción' %>
                          <% else %>
                            Ver descripción
                          <% end %>
                        </a>
                      <% end %>
                </td>

				<td><%= m.nombre %></td>
				<% if mostrar_cantidad_propuesta%>
					<td style="text-align: center" id="propuesta_<%= m.id %>"><%= d.cantidad_propuesta %></td>
				<% end %>


				<!-- SCME  -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="scme_<%= m.id %>"><%= d.cantidad_scme %></td>
                                <% else %>
                                        <td><%= number_field_tag "detalle_scme[#{m.id}]", d.cantidad_scme, {:class => 'input_detalle input_detalle_scme input-small-vs'} %></td>
                                <% end %>
				<!-- SCMA -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="scma_<%= m.id %>"><%= d.cantidad_scma %></td>
                                <% else %>
					<td><%= number_field_tag "detalle_scma[#{m.id}]", d.cantidad_scma, {:class => 'input_detalle input_detalle_scma input-small-vs'} %></td>
				<% end %>
				<!-- SC -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="sc_<%= m.id %>"><%= d.cantidad_sc %></td>
                                <% else %>
					<td><%= number_field_tag "detalle_sc[#{m.id}]", d.cantidad_sc, {:class => 'input_detalle input_detalle_sc input-small-vs'} %></td>
				<% end %>
				<!-- MME -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="mme_<%= m.id %>"><%= d.cantidad_mme %></td>
                                <% else %>
					<td><%= number_field_tag "detalle_mme[#{m.id}]", d.cantidad_mme, {:class => 'input_detalle input_detalle_mme input-small-vs'} %></td> 
				<% end %>
				<!-- MMA -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="mma_<%= m.id %>"><%= d.cantidad_mma %></td>
                                <% else %>
					<td><%= number_field_tag "detalle_mma[#{m.id}]", d.cantidad_mma, {:class => 'input_detalle input_detalle_mma input-small-vs'} %></td>
				<% end  %>
				<!-- MED -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="med_<%= m.id %>"><%= d.cantidad_med %></td>
                                <% else %>
					<td><%= number_field_tag "detalle_med[#{m.id}]", d.cantidad_med, {:class => 'input_detalle input_detalle_med input-small-vs'} %></td>
				<% end  %>
				<!-- TME -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="tme_<%= m.id %>"><%= d.cantidad_tme %></td>
                                <% else %>
					<td><%= number_field_tag "detalle_tme[#{m.id}]", d.cantidad_tme, {:class => 'input_detalle input_detalle_tme input-small-vs'} %></td>
				<% end %>
				<!-- TMA -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="tma_<%= m.id %>"><%= d.cantidad_tma %></td>
                                <% else %>
					<td><%= number_field_tag "detalle_tma[#{m.id}]", d.cantidad_tma, {:class => 'input_detalle input_detalle_tma input-small-vs'} %></td>
				<% end %>
				<!-- TRA -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="tra_<%= m.id %>"><%= d.cantidad_tra %></td>
                                <% else %>
					<td id="cant_tra_<%= m.id %>"><%= number_field_tag "detalle_tra[#{m.id}]", d.cantidad_tra, {:class => 'input_detalle input_detalle_tra input-small-vs'} %></td>
				<% end %>
				<!-- HET -->
				<% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="het_<%= m.id %>"><%= d.cantidad_het %></td>
                                <% else %>
					<td id="cant_het_<%= m.id %>"><%= number_field_tag "detalle_het[#{m.id}]", d.cantidad_het, {:class => 'input_detalle input_detalle_het input-small-vs'} %></td>
				<% end %>
				
				<!-- JI -->
                                <% if @solicitud.estado == Solicitud.ENVIADA || @solicitud.estado == Solicitud.APROBADA %>
                                        <td style="text-align: center" id="ji_<%= m.id %>"><%= d.cantidad_ji %></td>
                                <% else %>
                                        <td id="cant_ji_<%= m.id %>"><%= number_field_tag "detalle_ji[#{m.id}]", d.cantidad_ji, {:class => 'input_detalle input_detalle_ji input-small-vs'} %></td>
				<% end %>
				<!-- end JI  -->


				<!-- CANTIDAD TOTAL SOLICITADA - ESTA DEBE SER LA SUMA DE LOS 10 ITEM ANTERIORES  -->
				<!--<td style="text-align: right" id="cant_solicitada_< %= m.id %>" class="input_detalle_sol input-small-vs" >< %= d.cantidad_solicitada %></td> -->
				<td style="text-align: right" id="cant_solicitada_<%= m.id %>"><%= d.cantidad_solicitada %></td>
				<td style="text-align: right" id="precio_<%= m.id %>"><%= number_to_currency(m.precio_neto, {:precision => 0,:delimiter => '.'} ) %></td>
				<td style="text-align: right" id="total_<%= m.id %>" class="subtotal"><%= number_to_currency(d.cantidad_solicitada * m.precio_neto , {:precision => 0,:delimiter => '.'} ) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<table style="width:100%;text-align:right;">
		<tr>
			<% if @mailer.nil? %>
				<td>&nbsp;</td>
			<% end %>
			<!--<td class="total_solicitud"><h4><b>Total Solicitado: &nbsp;&nbsp;&nbsp;  < %= number_to_currency(@solicitud.costo_total , {:precision => 0,:delimiter => '.'} )%> </b></h4></td>-->
			<td style="width:85%"><h4>Total Solicitado: &nbsp;&nbsp;&nbsp;</h4></td>
			<td class="total_solicitud"><h4><%= number_to_currency(@solicitud.costo_total , {:precision => 0,:delimiter => '.'} )%></h4></td>				
		</tr>
	</table>
