<h1>Carro de Pedidos En L&iacute;nea para solicitud de Material Fungible para el 2° Semestre</h1>
<h2 style="color: green">Jardín: <%= @solicitud.jardin.nombre %></h2>
<div style="text-align: justify">
<br />
	<p>Por favor ajuste las cantidades que va a solicitar de cada producto en la columna Cantidad solicitada, de acuerdo a su necesidad REAL en el establecimiento. Como referencia puede tomar el valor indicado en la columna Cantidad propuesta, que corresponde al valor asignado para su jardín de acuerdo a los coeficientes institucionales. Recuerde que no puede exceder con su pedido el valor que tiene asignado como presupuesto.</p>
	<p>
Puede guardar los cambios en la planilla si así lo desea, pero una vez completado debe terminarse el pedido para remitir los antecedentes al nivel central. Tiene plazo hasta el 19 de Junio para terminar el pedido, de lo contrario su establecimiento recibirá por defecto los valores establecidos según los coeficientes institucionales.</p>
</div>
