<h1>Carro de Pedidos En L&iacute;nea para <%= @periodo.nombre %></h1>
<h2 style="color: green">Jardín: <%= @solicitud.jardin.nombre %></h2>
<div style="text-align: justify">
<br />

<%= @periodo.instrucciones.html_safe %>


  <p>El presupuesto asignado a su jardin es de <%= number_to_currency(@solicitud.presupuesto , {:precision => 0} ) %></p>
</div>
