<% cache "materiales-nivel-#{@periodo.id}-#{@niveles.join("-").gsub("'", '')}" do %>
    <script type="text/javascript">
        var materiales = {};
        <% for m in @materiales %>
        materiales[<%= m.id %>] = <%= m.precio_neto %>;
        <% end %>
    </script>
<% end %>