<ul class="nav nav-list">	
	<li<%= " class='active'".html_safe if active == 0 %>><%= link_to '<i class="icon-home"></i> Inicio'.html_safe, "/periodos" %></li>
  <% if @periodo and @periodo.tipo == 3 %>
	<li<%= " class='active'".html_safe if active == 1 %>><%= link_to 'Solicitudes pendientes de aprobación', {:controller => 'solicitudes', :action => :pendientes, :periodo_id => @periodo.id}%></li>
  <% end %>
	<% if active == 0 %>
	<li><a data-toggle="modal" href="#modal_confirmar">Descargar reporte en excel</a></li>
	<% end %>
<% if current_user.isAdmin? and @periodo %>
			<li class="nav-header">Super Administrador</li>
			<% if active == 3 %>
			<li class="active"><a href="#">Administrar Jardin Infantil</a></li>
			<% end %>

<% if @periodo.batch_procesando %>
<li<%= " class='active'".html_safe if active == 4 %>><%= link_to '-- Estamos procesando las imágenes de los materiales de este periodo', '#' %></li>
<% else %>
          <li<%= " class='active'".html_safe if active == 4 %>><%= link_to 'Administrar materiales', periodo_materiales_url(@periodo) %></li>

<% end %>




			<% if active == 5 %>
			<li class="active"><a href="#">Administrar Usuarios</a></li>
			<li><%= link_to '<i class="icon-plus"></i> Nuevo Usuario'.html_safe, "/usuarios/#{params[:jardin]}/new" %></li>
			<% end %>
<% end %>
</ul>