<table class="table" id="solicitudes">
	<thead>
  <tr>
		<th>Estado</th>
		<th>Dir.Reg</th>
		<th>Glosa Comuna</th>
		<th>Código Jardín</th>
		<th>Nombre Jardín</th>
		<th>Modalidad Atención</th>
    <th>Total Presupuesto</th>
    <th>Total Solicitado</th>
  </tr>
	</thead>
	<tbody>
	<% @jardines.each do |jardin| %>
		<%# cache "estado-solicitud-#{solicitud.id}" do %>
	  <tr>
			<td class="alert <%= (jardin.solicitud(PERIODO).estado==1)? 'alert-success':'alert-danger'%>"><%= jardin.solicitud(PERIODO).estado_nombre %></td>
			<td><%= jardin.region %></td>
			<td><%= jardin.comuna %></td>
			<td><%= jardin.codigo %></td>
	    <td><%= link_to jardin.nombre, jardin.solicitud(PERIODO) %></td>
			<td><%= jardin.modalidad_atencion %></td>
			<td><%= number_to_currency(jardin.presupuesto.round , {:precision => 0,:delimiter => '.'} )%></td>
			<% if jardin.solicitud(PERIODO).estado == 1%>
				<td><%= number_to_currency(jardin.solicitud(PERIODO).costo_total.round , {:precision => 0,:delimiter => '.'} )%></td>
			<% else %>
				<td>-</td>
			<% end %>
	  </tr>
		<%# end %>
	<% end %>
	</tbody>

	<tfoot>
	    <tr>
	        <th>TOTAL</th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th style="text-align:center"></th>
			<th style="text-align:center"></th>
	    </tr>
	</tfoot>
	
</table>