<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?> 
<Workbook xmlns="urn:schemas-microsoft-com:office:Spreadsheet"
   xmlns:o="urn:schemas-microsoft-com:office:office"
   xmlns:x="urn:schemas-microsoft-com:office:excel"
   xmlns:ss="urn:schemas-microsoft-com:office:Spreadsheet"
   xmlns:html="http://www.w3.org/TR/REC-html40">
<% total_material = {} 
   total_presupuesto = 0
   total_solicitado = 0
%>
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Created><%= Time.now.strftime("%Y-%m-%dT%H:%M:%SZ") %></Created>
    <Company>Fundación Integra</Company>
    <Version>14.0</Version>
  </DocumentProperties>
  <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
    <AllowPNG/>
  </OfficeDocumentSettings>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="s26">
        <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
        <Borders>
            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
        </Borders>
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="9" ss:Bold="1"/>
        <Interior ss:Color="#99CC00" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s64">
        <Interior ss:Color="#FEA746" ss:Pattern="Solid"/>
    </Style>
  </Styles>
<Worksheet ss:Name="Reporte Integra">
  <Table>
	<Row>
        <Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String">PRECIO UNIT</Data></Cell>		
		<% for m in materiales %>
			<Cell><Data ss:Type="Number"><%= m.precio_neto %></Data></Cell>
		<% end %>
	</Row>
	<Row>
        <Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String">CODIGO</Data></Cell>
		<% for m in materiales %>
			<Cell ss:StyleID="s26"><Data ss:Type="String"><%= m.codigo %></Data></Cell>
		<% end %>		
	</Row>
	<Row>
		<Cell><Data ss:Type="String">Estado</Data></Cell>
		<Cell><Data ss:Type="String">Dir. Reg</Data></Cell>
		<Cell><Data ss:Type="String">Glosa Comuna</Data></Cell>
		<Cell><Data ss:Type="String">Código Jardín</Data></Cell>
		<Cell><Data ss:Type="String">Nombre Jardín</Data></Cell>
		<Cell><Data ss:Type="String">Modalidad Atención</Data></Cell>
		<% for m in materiales %>
			<Cell><Data ss:Type="String"><%= m.nombre %></Data></Cell>
		<% end %>
		<Cell><Data ss:Type="String">Total Presupuesto</Data></Cell>
		<Cell><Data ss:Type="String">Total Solicitado</Data></Cell>
		<Cell><Data ss:Type="String">Comentarios Solicitante</Data></Cell>
		<Cell><Data ss:Type="String">Comentarios Administrador</Data></Cell>
	</Row>
	<% for s in solicitudes %>
	<Row <%= ' ss:StyleID="s64"' if s.estado == 0%>>
		<Cell><Data ss:Type="String"><%= s.estado_nombre%></Data></Cell>
		<Cell><Data ss:Type="Number"><%= s.jardin.region%></Data></Cell>
		<Cell><Data ss:Type="String"><%= s.jardin.comuna%></Data></Cell>
		<Cell><Data ss:Type="Number"><%= s.jardin.codigo%></Data></Cell>
		<Cell><Data ss:Type="String"><%= s.jardin.nombre%></Data></Cell>	
		<Cell><Data ss:Type="String"><%= s.jardin.modalidad_atencion%></Data></Cell>
		<% for m in materiales %>
			<%# detalle =  s.detalle_for_material(m).cantidad_solicitada %>
			<% detalle = (s.estado == 0 )? s.detalle_for_material(m).cantidad_propuesta : s.detalle_for_material(m).cantidad_solicitada %>
			<% total_material[m.codigo] = total_material[m.codigo].nil? ? detalle : total_material[m.codigo] + detalle %>
			<Cell><Data ss:Type="Number"><%= detalle %></Data></Cell>
		<% end %>
		<Cell><Data ss:Type="Number"><%= s.presupuesto %></Data></Cell>
		<Cell><Data ss:Type="Number"><%= s.costo_total %></Data></Cell>
		<Cell><Data ss:Type="String"><%= h s.observacion_solicitante %></Data></Cell>
		<Cell><Data ss:Type="String"><%= h s.observacion_administrador %></Data></Cell>		
		<% total_presupuesto += s.presupuesto %>
		<% total_solicitado += s.costo_total %>
	</Row>
	<% end %>
	<Row>
		<Cell><Data ss:Type="String">Total</Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String"></Data></Cell>
		<Cell><Data ss:Type="String">Total</Data></Cell>
		<% for m in materiales %>
			<Cell><Data ss:Type="Number"><%= total_material[m.codigo] %></Data></Cell>
		<% end %>
		<Cell><Data ss:Type="Number"><%= total_presupuesto %></Data></Cell>
		<Cell><Data ss:Type="Number"><%= total_solicitado %></Data></Cell>
	</Row>
    </Table>
  </Worksheet>
</Workbook>