<h1>Administración</h1>

<% if notice %>
	<div class="alert alert-success">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<% if alert %>
	<div class="alert alert-danger">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<p><%= alert.html_safe %></p>
	</div>
<% end %>

<% if current_user.isAdmin? or current_user.region > 0 %>
<div class="modal hide" id="modal_confirmar" >
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Reporte en Excel</h3>
  </div>
	<%= form_tag "/solicitudes/xls" do |f| %>

  <div class="modal-body">
		<p>Por favor ingresa tu email y te enviaremos el reporte una vez que hayamos terminado de generarlo:</p>
		<p><%= email_field_tag('email') %></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
			<%= submit_tag "Solicitar reporte Excel",  :class => "btn btn-primary" %>
  </div>
	<% end %>

</div>
<% end %>


<%= render :partial => 'navegation', :locals => {:active => 0} %>

<h2>Resumen de Solicitudes</h2>
<div class="row">
	<div class="span7">
		<%= image_tag "IntegraEstadosDeUnaSolicitud.png" %>		
	</div>
<table class="table table-striped table-bordered span5">
	<thead>
		<tr>
			<th>Región</th>
			<th>Creada</th>
			<th>Modificada</th>
			<th>Enviada</th>
			<th>Con <br />comentarios</th>
			<th>Aprobada</th>
		</tr>
	</thead>
	<tbody>
		<% for i in 1..16 %>
			<tr<%= ' class="info"'.html_safe if current_user.region == i %>>
				<td><%= i %></td>
				<td><%= Jardin.count_by_sql("select count(*) from jardines where region = #{i} and activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.CREADA})") %></td>
				<td><%= Jardin.count_by_sql("select count(*) from jardines where region = #{i} and activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.MODIFICADA})") %></td>
				<td><%= Jardin.count_by_sql("select count(*) from jardines where region = #{i} and activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.ENVIADA})") %></td>
				<td><%= Jardin.count_by_sql("select count(*) from jardines where region = #{i} and activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.COMENTARIOS})") %></td>
				<td><%= Jardin.count_by_sql("select count(*) from jardines where region = #{i} and activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.APROBADA})") %></td>
			</tr>
		<% end %>


		<tr>
			<td><b>Total</b></td>
			<td><%= Jardin.count_by_sql("select count(*) from jardines where activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.CREADA})") %></td>
			<td><%= Jardin.count_by_sql("select count(*) from jardines where activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.MODIFICADA})") %></td>
			<td><%= Jardin.count_by_sql("select count(*) from jardines where activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.ENVIADA})") %></td>
			<td><%= Jardin.count_by_sql("select count(*) from jardines where activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.COMENTARIOS})") %></td>
			<td><%= Jardin.count_by_sql("select count(*) from jardines where activo = 1 and codigo IN (select jardin_id from solicitudes where periodo_id = #{PERIODO} and estado = #{Solicitud.APROBADA})") %></td>
		</tr>
	</tbody>
</table>



</div>


<div style="clear: both">
</div>
<h2>Estado de solicitudes por jardín</h2>


<%= render :partial => 'tabla' %>


<br />
