<h1>Solicitudes pendientes de aprobación</h1>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 1} %>


<p>El siguiente listado muestra sólo las solicitudes que no han sido aprobadas por un administrador</p>

<%= render :partial => 'periodos/tabla' %>