<% content_for :title do %>
	Fundación Integra - Jardín: <%= @solicitud.jardin.nombre %>
<% end %>

<% if current_user.isAdmin? or (current_user.region > 0 and current_user.jardin_codigo == 0 ) %>
	<ul class="nav nav-list">
	<li><%= link_to '<i class="icon-home"></i> Regresar a administración'.html_safe, "/periodos/#{@periodo.id}" %></li>
	</ul>
<% end %>

<%= render :partial => "instrucciones" %>


<section id="start">

<% if current_user.autoriza? and @solicitud.estado == Solicitud.ENVIADA and @solicitud.periodo.tipo == 3 %>
	<div class="alert alert-error">
		<h4 class="alert-heading">Solicitud pendiente</h4>
		Esta solicitud se encuentra en estado pendiente, usted como administrador debe aprobar o rechazar la solicitud
		<div>
		<%= form_for @solicitud, {:url => {:action => "aprobar", :solicitud_id => @solicitud.id}, :html => {:class => "form-horizontal"}} do |f| %>
		<br />
		<% unless @solicitud.observacion_solicitante.nil? or @solicitud.observacion_solicitante.empty? %>
		<div class="control-group">
			<%= f.label 'observacion_solicitante', 'Mensaje del solicitante', :class => "control-label" %>
			<div class="controls">
				<%= @solicitud.observacion_solicitante %>
			</div>
		</div>
		<% end %>
		<div class="control-group">
			<%= f.label "observacion_administrador", "Observaciones", :class => "control-label" %>
			<div class="controls">
			<%= f.text_area "observacion_administrador", :rows => 4 %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<%= f.submit 'Aprobar', {:class => 'btn btn-success', :confirm => "Se enviará un correo al solicitante para notificarlo que su solicitud ha sido APROBADA. ¿Estás seguro de continuar?"} %>
				&nbsp;
				<%= f.submit 'Rechazar', {:class => 'btn btn-danger', :confirm => "Se enviará un correo al solicitante para notificarlo que su solicitud ha sido RECHAZADA. ¿Estás seguro de continuar?"} %>
			</div>
		</div>
		
		<% end %>
		</div>
	</div>
<% else %>
	<% if @solicitud.estado == Solicitud.ENVIADA %>
		<div class="alert alert-danger">
			 <h4 class="alert-heading">Solicitud ya enviada</h4>
           <% if @solicitud.periodo.tipo == 1 || @solicitud.periodo.tipo == 2 %>
              <p>Su canasta de compras ya fue enviada y no puede ser modificada.</p>
           <% else %>
              <p>Su canasta de compras ya fue enviada y esta siendo revisada por la dirección regional, recibirá un email cuando la solicitud sea aprobada.</p>
           <% end %>
		</div>
	<% else %>
		<% if @solicitud.estado == Solicitud.APROBADA %>
			<div class="alert alert-success">
				Su solicitud ya ha sido aprobada.
		
			</div>
		<% else %>
			<% if @solicitud.estado == Solicitud.COMENTARIOS %>
				<div class="alert alert-error">
					<h4 class="alert-heading">Solicitud con comentarios</h4>
					<p>Su solicitud no ha sido aprobada. Por favor revise los siguientes comentarios y modifique su solicitud.</p>
					<form class="form-horizontal">
						<div class="control-group">
							<div class="control-label">
								<b>Mensaje del Solicitante</b>
							</div>
							<div class="controls">
								<%= @solicitud.observacion_solicitante %>
							</div>
						</div>
						<div class="control-group">
							<div class="control-label">
								<b>Comentarios de la dirección regional</b>
							</div>
							<div class="controls">
								<%= @solicitud.observacion_administrador %>
							</div>
						</div>						
					</form>
				</div>
			
			<% end %>
			<% if !@solicitud.en_plazo %>
				<div class="alert alert-danger">
					 <h4 class="alert-heading">Solicitud fuera de plazo</h4>
                    <p>
                     <% if @solicitud.periodo.time_start > Time.now %>
                      El plazo para enviar esta solicitud aún no ha comenzado.
                     <% else %>
                      El plazo para enviar esta solicitud ya ha terminado.
                     <% end %>
                    </p>
				</div>	
			<% end %>
		<% end %>
	<% end %>
<% end %>



<%= form_for @solicitud, {:url => "/periodos/#{@periodo.id}/solicitudes/#{@solicitud.id}", :class => "form-horizontal"} do |f| %>
	<div class="modal" id="modal_confirmar" style='display:none'>
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal">×</button>
	    <h3>Terminar pedido</h3>
	  </div>
	  <div class="modal-body">
	    <p>
          <% if @solicitud.periodo.tipo == 3 %>
            Su solicitud será revisada por la Oficina Regional para su aprobación.
          <% end %>
           La confirmación de su solicitud, junto con el detalle, le será enviado a su correo electrónico, que le solicitamos ingresar a continuación:</p>
			<div class="control-group">
				<%= f.label "email", :class => 'control-label' %>
				<div class="controls">
					<%= f.email_field('email') %>
				</div>
			</div>
			
			<div class="control-group">
				<%= f.label 'observacion_solicitante', 'Si desea hacernos llegar algún comentario o sugerencia, por favor escríbalo a continuación:', :class => "control-label" %>
				<div class="controls">
					<%= f.text_area('observacion_solicitante', :rows => "4") %> 
				</div>
			</div>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
			<a class="btn btn-success" href="#" onclick="terminarSolicitud()"><i class="icon-shopping-cart icon-white"></i> Terminar el pedido</a>
	  </div>
	</div>

<%= render :partial => 'materiales' %>


<div class="modal hide fade" id="materiales-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Material</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
  </div>
</div>



<%= render :partial => 'detalle' %>

</div>

<div class="span4">
  <div class="well sidebar-nav">
		<h3>Jardin</h3>
		<p><%= @solicitud.jardin.nombre %></p>

		<h3>Estado solicitud</h3>
		<p><%= @solicitud.estado_nombre %></p>
		
		<h3>Presupuesto Asignado</h3>
		<p id="presupuesto"><%= number_to_currency(@solicitud.presupuesto , {:precision => 0,:delimiter => '.'} )%></p>

    <h3>Total Solicitado</h3>
    <div >
			<%= number_to_currency(@solicitud.costo_total , {:precision => 0,:delimiter => '.'} )%>
		</div>
  	<br />
		<br />
		<div >
		<% if @solicitud.estado != Solicitud.ENVIADA and @solicitud.estado != Solicitud.APROBADA and @solicitud.en_plazo %>
			<%= submit_tag "Guardar los cambios", :type => :submit, :disable_with => "Guardando cambios...", :class => "btn btn-info", :id => 'btn_guardar_cambios'  %>
			<br /><br />
			<% if @solicitud.costo_total <= @solicitud.presupuesto %>
				<a class="btn btn-success" data-toggle="modal" href="#modal_confirmar" id="btn_enviar_solicitud"><i class="icon-shopping-cart icon-white"></i> Terminar el pedido</a>
			<% else %>
				<a class="btn btn-danger" href="#modal_confirmar" id="btn_enviar_solicitud"><i class="icon-exclamation-sign icon-white" ></i> Excede presupuesto</a>
			<% end %>
		<% end %>
		
		</div>
	</div>
</div>
<input type="hidden" name="mode" value="update" id="mode"/>
<% end %>
</section>

