<br />
<%= form_for(@categoria,:html => {:class => "form-horizontal"}) do |f| %>
  <% if @categoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

      <ul>
      <% @categoria.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nombre,:class => 'control-label' %>
		<div class="controls">
    <%= f.text_field :nombre %>
		</div>
  </div>
  <div class="control-group">
		<%= f.label :color,:class => 'control-label' %>
		<div class="controls">
			<div class="input-append color" data-color="<%= @categoria.color %>" data-color-format="rgb" id="cp3">
				<input type="text" name="categoria[color]" class="hide" value="" readonly >
				<span class="add-on"><i style="background-color: <%= @categoria.color %>"></i></span>
			</div>
		</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
	$(function(){
		$('#cp3').colorpicker().on('changeColor', function(ev){
			
		})
	})
</script>