Number.prototype.formatMoney = function(c, d, t){
var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
 };

$(function() {
	$('.input_detalle').bind('change click keypress keyup',function(){
		var material_id = this.id.split("_")[2];
		var propuesta = $("#propuesta_" + material_id).text();
		var valor_ingresado = parseInt(this.value,10);

		if (isNaN(valor_ingresado) || valor_ingresado < 0){
                        valor_ingresado = 0;
                        $("#" + this.id)[0].value = 0;
                }
                $("#" + this.id)[0].value = valor_ingresado;

		var scme = parseInt(document.getElementById("detalle_scme_" + material_id).value);
		var scma = parseInt(document.getElementById("detalle_scma_" + material_id).value);
		var sc   = parseInt(document.getElementById("detalle_sc_"   + material_id).value);
		var mme  = parseInt(document.getElementById("detalle_mme_"  + material_id).value);
		var mma  = parseInt(document.getElementById("detalle_mma_"  + material_id).value);
		var med  = parseInt(document.getElementById("detalle_med_"  + material_id).value);
		var tme  = parseInt(document.getElementById("detalle_tme_"  + material_id).value);
		var tma  = parseInt(document.getElementById("detalle_tma_"  + material_id).value);
		var tra  = parseInt(document.getElementById("detalle_tra_"  + material_id).value);
		var het  = parseInt(document.getElementById("detalle_het_"  + material_id).value);
		var ji   = parseInt(document.getElementById("detalle_ji_"   + material_id).value);
		var total_solicitado = scme + scma + sc + mme + mma + med + tme + tma + tra + het + ji;
		
		$("#cant_solicitada_" + material_id).text(total_solicitado.formatMoney(0,',','.')); 

		var precio = materiales[material_id];
	
		var ct = total_solicitado * precio;
		$("#total_" + material_id).text("$" + ct.formatMoney(0,',','.'));
	
		var detalle_scme = $('.input_detalle_scme');
		var detalle_scma = $('.input_detalle_scma');
		var detalle_sc   = $('.input_detalle_sc');
		var detalle_mme  = $('.input_detalle_mme');
		var detalle_mma  = $('.input_detalle_mma');
		var detalle_med  = $('.input_detalle_med');
		var detalle_tme  = $('.input_detalle_tme');
		var detalle_tma  = $('.input_detalle_tma');
		var detalle_tra  = $('.input_detalle_tra');
		var detalle_het  = $('.input_detalle_het');
		var detalle_ji   = $('.input_detalle_ji');
		
		var total = 0.0;
		
		for(var i=0;i<detalle_scme.length;i++){
			var id = detalle_scme[i].id.split("_")[2];
			var cantidad = parseInt(detalle_scme[i].value) + parseInt(detalle_scma[i].value) + parseInt(detalle_sc[i].value) + parseInt(detalle_mme[i].value) + parseInt(detalle_mma[i].value) + parseInt(detalle_med[i].value) + parseInt(detalle_tme[i].value) + parseInt(detalle_tma[i].value) + parseInt(detalle_tra[i].value) + parseInt(detalle_het[i].value) + parseInt(detalle_ji[i].value);
			console.log ("cantidad fila : " + i + "es: " + cantidad);
			total = total + 1.0*cantidad * materiales[id];
		}

		total = Math.round(total);
	
		var totales = $('.total_solicitud');
		for(var i=0;i<totales.length;i++){
			totales[i].innerHTML = "$" + total.formatMoney(0,',','.');
		}

        console.log("total: " + total)
	
		var presupuesto = parseInt($("#presupuesto").text().replace("$","").replace(/\./g,""))

        console.log("presupuesto: " + presupuesto);
		if (total > presupuesto){
            $('#btn_guardar_cambios').attr('disabled','disabled')
            $('#btn_guardar_cambios').attr('value','No puede guardar si excede preesupuesto')
            $('#btn_enviar_solicitud').attr('class','btn btn-danger');
			$('#btn_enviar_solicitud').removeData('toggle');
            document.getElementById('btn_enviar_solicitud').removeAttribute('data-toggle')
			$('#btn_enviar_solicitud').html('<i class="icon-exclamation-sign icon-white"></i>' + " Excede presupuesto")
		}
		else {
            $('#btn_guardar_cambios').removeAttr('disabled')
            $('#btn_guardar_cambios').attr('value','Guardar cambios')
			$('#btn_enviar_solicitud').attr('class','btn btn-success')
			$('#btn_enviar_solicitud').data("toggle","modal")
            $('#btn_enviar_solicitud').attr('data-toggle','modal')
			$('#btn_enviar_solicitud').html('<i class="icon-shopping-cart icon-white"></i>' + " Terminar el pedido")
		}
	});
	if ($('#solicitudes').size() > 0){
		
	
		
		$('#solicitudes').dataTable({
          "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
          "sPaginationType": "bootstrap",
		  "bPaginate": true,
          "bJQueryUI": true,
		  "bProcessing": true,
		  "bServerSide": true,
		  "aoColumns": [null,null,null,null,null,null,null,null,
			{
				"fnRender": function(o,val){
					data = val.split("#");
					var output;
					if (isAdmin){
						output = "<a class='btn btn-primary btn-small' href='/solicitudes/" + data[0] + "'>Ver</a>";
						output += " <a class='btn btn-warning btn-small' href='/jardines/" + data[1] + "/edit'>Admin</a>";						
					}
					else {
						output = "<a class='btn btn-primary' href='/solicitudes/" + data[0] + "'>Ver</a>";
					}
					return output
				}
			}
			],
		  "fnServerParams": function ( aoData ) {
		      aoData.push( { "name": "isAdmin", "value": isAdmin} );
              aoData.push( { "name": "periodo_id", "value": $('#solicitudes').data('periodo')});
              aoData.push( { "name": "pendientes", "value": $('#solicitudes').data('pendientes')});
		    },
		  "sAjaxSource": '/periodos/' + $('#solicitudes').data('periodo') + '/solicitudes',
		  "fnFooterCallback": function(nRow,aaData,iStart,iEnd,aiDisplay){
				var totalPresupuesto = 0;
				var totalSolicitado = 0;
				var totalMaterial = {};
				for(var i=iStart;i<iEnd;i++){
					if (aiDisplay[i] != undefined){
						var a1 = parseInt(aaData[aiDisplay[i]][7].replace("$","").replace(".",""));
						if (isNaN(a1)){
							a1 = 0;
						}
						totalPresupuesto += parseInt(aaData[aiDisplay[i]][6].replace("$","").replace(".",""));
						totalSolicitado += a1;						
					}
				}
				var nCells = nRow.getElementsByTagName('th');
				
				nCells[6].innerHTML = "$" + totalPresupuesto.formatMoney(0,',','.');
				nCells[7].innerHTML = "$" + totalSolicitado.formatMoney(0,',','.');
		},
		  "oLanguage": {
			    "sProcessing":   "Procesando...",
			    "sLengthMenu":   "Mostrar _MENU_ registros",
			    "sZeroRecords":  "No se encontraron resultados",
			    "sInfo":         "Total: _TOTAL_ registros",
			    "sInfoEmpty":    "No se han encontrado registros",
			    "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
			    "sInfoPostFix":  "",
			    "sSearch":       "Buscar:",
			    "sUrl":          "",
			    "oPaginate": {
			        "sFirst":    "Primero",
			        "sPrevious": "Anterior",
			        "sNext":     "Siguiente",
			        "sLast":     "Ultimo"
			    }	
		  }
		});
	}

	
	$.fn.numeric = function(config, callback)
	{
		if(typeof config === 'boolean')
		{
			config = { decimal: config };
		}
		config = config || {};
		// if config.negative undefined, set to true (default is to allow negative numbers)
		if(typeof config.negative == "undefined") { config.negative = true; }
		// set decimal point
		var decimal = (config.decimal === false) ? "" : config.decimal || ".";
		// allow negatives
		var negative = (config.negative === true) ? true : false;
		// callback function
		callback = (typeof(callback) == "function" ? callback : function() {});
		// set data and methods
		return this.data("numeric.decimal", decimal).data("numeric.negative", negative).data("numeric.callback", callback).keypress($.fn.numeric.keypress).keyup($.fn.numeric.keyup).blur($.fn.numeric.blur);
	};

	$.fn.numeric.keypress = function(e)
	{
		// get decimal character and determine if negatives are allowed
		var decimal = $.data(this, "numeric.decimal");
		var negative = $.data(this, "numeric.negative");
		// get the key that was pressed
		var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
		// allow enter/return key (only when in an input box)
		if(key == 13 && this.nodeName.toLowerCase() == "input")
		{
			return true;
		}
		else if(key == 13)
		{
			return false;
		}
		var allow = false;
		// allow Ctrl+A
		if((e.ctrlKey && key == 97 /* firefox */) || (e.ctrlKey && key == 65) /* opera */) { return true; }
		// allow Ctrl+X (cut)
		if((e.ctrlKey && key == 120 /* firefox */) || (e.ctrlKey && key == 88) /* opera */) { return true; }
		// allow Ctrl+C (copy)
		if((e.ctrlKey && key == 99 /* firefox */) || (e.ctrlKey && key == 67) /* opera */) { return true; }
		// allow Ctrl+Z (undo)
		if((e.ctrlKey && key == 122 /* firefox */) || (e.ctrlKey && key == 90) /* opera */) { return true; }
		// allow or deny Ctrl+V (paste), Shift+Ins
		if((e.ctrlKey && key == 118 /* firefox */) || (e.ctrlKey && key == 86) /* opera */ ||
		  (e.shiftKey && key == 45)) { return true; }
		// if a number was not pressed
		if(key < 48 || key > 57)
		{
		  var value = $(this).val();
			/* '-' only allowed at start and if negative numbers allowed */
			if(value.indexOf("-") !== 0 && negative && key == 45 && (value.length === 0 || parseInt($.fn.getSelectionStart(this), 10) === 0)) { return true; }
			/* only one decimal separator allowed */
			if(decimal && key == decimal.charCodeAt(0) && value.indexOf(decimal) != -1)
			{
				allow = false;
			}
			// check for other keys that have special purposes
			if(
				key != 8 /* backspace */ &&
				key != 9 /* tab */ &&
				key != 13 /* enter */ &&
				key != 35 /* end */ &&
				key != 36 /* home */ &&
				key != 37 /* left */ &&
				key != 39 /* right */ &&
				key != 46 /* del */
			)
			{
				allow = false;
			}
			else
			{
				// for detecting special keys (listed above)
				// IE does not support 'charCode' and ignores them in keypress anyway
				if(typeof e.charCode != "undefined")
				{
					// special keys have 'keyCode' and 'which' the same (e.g. backspace)
					if(e.keyCode == e.which && e.which !== 0)
					{
						allow = true;
						// . and delete share the same code, don't allow . (will be set to true later if it is the decimal point)
						if(e.which == 46) { allow = false; }
					}
					// or keyCode != 0 and 'charCode'/'which' = 0
					else if(e.keyCode !== 0 && e.charCode === 0 && e.which === 0)
					{
						allow = true;
					}
				}
			}
			// if key pressed is the decimal and it is not already in the field
			if(decimal && key == decimal.charCodeAt(0))
			{
				if(value.indexOf(decimal) == -1)
				{
					allow = true;
				}
				else
				{
					allow = false;
				}
			}
		}
		else
		{
			allow = true;
		}
		return allow;
	};

	$.fn.numeric.keyup = function(e)
	{
		var val = $(this).value;
		if(val && val.length > 0)
		{
			// get carat (cursor) position
			var carat = $.fn.getSelectionStart(this);
			// get decimal character and determine if negatives are allowed
			var decimal = $.data(this, "numeric.decimal");
			var negative = $.data(this, "numeric.negative");

			// prepend a 0 if necessary
			if(decimal !== "" && decimal !== null)
			{
				// find decimal point
				var dot = val.indexOf(decimal);
				// if dot at start, add 0 before
				if(dot === 0)
				{
					this.value = "0" + val;
				}
				// if dot at position 1, check if there is a - symbol before it
				if(dot == 1 && val.charAt(0) == "-")
				{
					this.value = "-0" + val.substring(1);
				}
				val = this.value;
			}

			// if pasted in, only allow the following characters
			var validChars = [0,1,2,3,4,5,6,7,8,9,'-',decimal];
			// get length of the value (to loop through)
			var length = val.length;
			// loop backwards (to prevent going out of bounds)
			for(var i = length - 1; i >= 0; i--)
			{
				var ch = val.charAt(i);
				// remove '-' if it is in the wrong place
				if(i !== 0 && ch == "-")
				{
					val = val.substring(0, i) + val.substring(i + 1);
				}
				// remove character if it is at the start, a '-' and negatives aren't allowed
				else if(i === 0 && !negative && ch == "-")
				{
					val = val.substring(1);
				}
				var validChar = false;
				// loop through validChars
				for(var j = 0; j < validChars.length; j++)
				{
					// if it is valid, break out the loop
					if(ch == validChars[j])
					{
						validChar = true;
						break;
					}
				}
				// if not a valid character, or a space, remove
				if(!validChar || ch == " ")
				{
					val = val.substring(0, i) + val.substring(i + 1);
				}
			}
			// remove extra decimal characters
			var firstDecimal = val.indexOf(decimal);
			if(firstDecimal > 0)
			{
				for(var k = length - 1; k > firstDecimal; k--)
				{
					var chch = val.charAt(k);
					// remove decimal character
					if(chch == decimal)
					{
						val = val.substring(0, k) + val.substring(k + 1);
					}
				}
			}
			// set the value and prevent the cursor moving to the end
			this.value = val;
			$.fn.setSelection(this, carat);
		}
	};

	$.fn.numeric.blur = function()
	{
		var decimal = $.data(this, "numeric.decimal");
		var callback = $.data(this, "numeric.callback");
		var val = this.value;
		if(val !== "")
		{
			var re = new RegExp("^\\d+$|^\\d*" + decimal + "\\d+$");
			if(!re.exec(val))
			{
				callback.apply(this);
			}
		}
	};

	$.fn.removeNumeric = function()
	{
		return this.data("numeric.decimal", null).data("numeric.negative", null).data("numeric.callback", null).unbind("keypress", $.fn.numeric.keypress).unbind("blur", $.fn.numeric.blur);
	};

	// Based on code from http://javascript.nwbox.com/cursor_position/ (Diego Perini <dperini@nwbox.com>)
	$.fn.getSelectionStart = function(o)
	{
		if (o.createTextRange)
		{
			var r = document.selection.createRange().duplicate();
			r.moveEnd('character', o.value.length);
			if (r.text === '') { return o.value.length; }
			return o.value.lastIndexOf(r.text);
		} else { return o.selectionStart; }
	};

	// set the selection, o is the object (input), p is the position ([start, end] or just start)
	$.fn.setSelection = function(o, p)
	{
		// if p is number, start and end are the same
		if(typeof p == "number") { p = [p, p]; }
		// only set if p is an array of length 2
		if(p && p.constructor == Array && p.length == 2)
		{
			if (o.createTextRange)
			{
				var r = o.createTextRange();
				r.collapse(true);
				r.moveStart('character', p[0]);
				r.moveEnd('character', p[1]);
				r.select();
			}
			else if(o.setSelectionRange)
			{
				o.focus();
				o.setSelectionRange(p[0], p[1]);
			}
		}
	};
	
	if (Modernizr.inputtypes.number != true){
		//si el sistema no soporta input type number (IE6 te estoy hablando a ti)
		//entonces ejecutamos javascript para simularlo
		$(".input_detalle").numeric();		
	}


    if ($('.input_detalle').size() > 0){
        console.log("sumando")
        $('.input_detalle')[0].click();

    }
	
	
	
});

var terminarSolicitud = function(){
	$('#mode')[0].value = 'terminar'; 
	$('.edit_solicitud').submit();
}

