<%= form_for(@jardin, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @jardin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jardin.errors.count, "error") %> prohibited this jardin from being saved:</h2>

      <ul>
      <% @jardin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :codigo, nil, :class => 'control-label'  %>
	<div class="controls">
    <%= f.number_field :codigo %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :region, nil, :class => 'control-label' %>
	<div class="controls">
    <%= f.number_field :region %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :comuna, nil, :class => 'control-label'  %>
	<div class="controls">
    <%= f.text_field :comuna %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, nil, :class => 'control-label'  %>
	<div class="controls">
    <%= f.text_field :nombre %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :modalidadAtencion, nil, :class => 'control-label'  %>
	<div class="controls">
    <%= f.text_field :modalidadAtencion %>
	</div>
  </div>

  <div class="control-group">
		<%= f.label :niveles, 'Niveles', :class => 'control-label' %>
	<div class="controls">
		<% for i in NIVELES %>
          <label class="checkbox">
			<%= check_box_tag "jardin[nivel[#{i}]]", 1, @jardin.has_nivel(i) %>
			<%= i %>
          </label>
		<% end %>
	</div>
  </div>
  <div class="control-group">
	<div class="controls">
    <%= f.submit :class => "btn btn-primary" %>
	</div>
  </div>
<% end %>
