<h1>Administración</h1>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 3} %>


<h2>Modificar jardín infantil</h2>
<%= render 'form' %>


<%= link_to 'Salir sin guardar cambios', root_url, :class => "btn btn-info" %>
<% if current_user.isAdmin? %>
<%= link_to 'Listado de usuarios con acceso a este jardín', "/jardines/#{@jardin.codigo}/usuarios", :class => "btn btn-info" %>
<%# link_to 'Eliminar este jardín', @jardin, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
<% end %>

