<h1>Listado de jardines</h1>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 3} %>

<ul class="nav nav-list">
<li class="nav-header">Jardines</li>
<li><%= link_to '<i class="icon-plus"></i> Nuevo Jardín Infantil'.html_safe, new_jardin_path %></li>
</ul>

<table class="table">
  <tr>
    <th>Codigo</th>
    <th>Región</th>
    <th>Comuna</th>
    <th>Nombre</th>
	<th>Niveles</th>
    <th>Presupuesto</th>
    <th></th>
    <th></th>
  </tr>

<% @jardines.each do |s| %>
  <tr>
    <td><%= s.jardin_id %></td>
    <td><%= s.jardin.region %></td>
    <td><%= s.jardin.comuna %></td>
    <td><%= s.jardin.nombre %></td>
	<td><%= s.jardin.niveles.join(",") %></td>
    <td><%= number_to_currency(s.presupuesto, {:precision => 0,:delimiter => '.'} ) %></td>
    <td><%= link_to 'Modificar Jardin', edit_jardin_path(s.jardin), :class => "btn" %></td>
	<td><%= link_to 'Modificar usuarios', "/jardines/#{s.jardin_id}/usuarios", :class => "btn" %></td>
    <td><%= link_to 'Eliminar', s.jardin, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />
