<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @jardin.codigo %>
</p>

<p>
  <b>Region:</b>
  <%= @jardin.region %>
</p>

<p>
  <b>Comuna:</b>
  <%= @jardin.comuna %>
</p>

<p>
  <b>Nombre:</b>
  <%= @jardin.nombre %>
</p>

<p>
  <b>Modalidadatencion:</b>
  <%= @jardin.modalidadAtencion %>
</p>

<p>
  <b>Presupuesto:</b>
  <%= @jardin.presupuesto %>
</p>


<%= link_to 'Edit', edit_jardin_path(@jardin) %> |
<%= link_to 'Back', jardines_path %>
