<%= form_for(@usuario, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :username, nil, :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :username %>
	</div>
  </div>

  <div class="control-group">
    <%= f.label :password, nil, :class => 'control-label' %>
	<div class="controls">
    <%= f.password_field :password %>
	</div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, "Confirmación de password", :class => 'control-label' %>
	<div class="controls">
    <%= f.password_field :password_confirmation %>
	</div>
  </div>

  <div class="control-group">
    <%= f.label :nombre, nil, :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :nombre %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :jardin_id, nil, :class => 'control-label' %>
	<div class="controls">    
	<%= f.number_field :jardin_id %>
  	</div>
  </div>

  <div class="control-group">
    <%= f.submit %>
  </div>
<% end %>
