<h1>Administración</h1>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 5} %>


<h1>Modificar usuario</h1>

<%= render 'form' %>

<%= link_to 'Show', @usuario %> |
<%= link_to 'Back', "/jardines/#{@usuario.jardin_id}/usuarios" %>
