<h1>Administración</h1>

<% if @carro.usuarios_status == 2 %>
  <div class="alert alert-error">Ocurrió un error al procesar la última planilla de usuarios</div>

<% end %>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 5} %>

<%= link_to 'Subir planilla con usuarios', :action => :upload %>
<br />
