<h1>Administración</h1>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 5} %>



<h2>Usuarios para jardín: <%= @jardin.nombre %></h2>


<table class="table">
  <tr>
    <th>Username</th>
    <th>Nombre</th>
    <th>Jardin</th>
	<th>Administrador<br />Regional</th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.username %></td>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.jardin_codigo %></td>
	<td><%= usuario.region?? '<i class="icon-ok"></i>'.html_safe : '<i class="icon-remove"></i>'.html_safe %></td>
    <td><%= link_to 'Modificar', "/usuarios/#{usuario.id}/edit" %></td>
    <td><%= link_to 'Eliminar', "/usuarios/#{usuario.id}", confirm: 'Are you sure?', method: :delete %>
<%# link_to 'Eliminar', usuario, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

