<h1>Administración</h1>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 6} %>


<h2>Nuevo usuario para jardin: <%= @jardin.nombre %></h2>

<%= render 'form' %>

<%= link_to 'Back', usuarios_path %>
