<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @usuario.username %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Jardin:</b>
  <%= @usuario.jardin_id %>
</p>

<p>
  <b>Region:</b>
  <%= @usuario.region %>
</p>

<p>
  <b>Admin:</b>
  <%= @usuario.admin %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
