<h1>Administración</h1>

<%= render :partial => 'solicitudes/navegation', :locals => {:active => 5} %>

<br />
<% if @carro.usuarios_status == 2 %>
  <div class="alert alert-error">Ocurrió un error al procesar la última planilla de usuarios</div>
<% end %>

<%= direct_upload_form_for @uploader do |f| %>
    <%= f.file_field :usuarios %>
    <%= f.submit %>
<% end %>
