<br /><br />
<div class="alert alert-info">
Estamos procesando la lista de usuarios, por favor espera un momento...
</div>


<script>
    setTimeout('location.replace("/usuarios")',10000);
</script>

