<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fundación Integra" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon">
  </head>
  <body>
	<script type="text/javascript">
	<% if current_user and (current_user.isAdmin?)%>
		var isAdmin = true;
	<% else %>
		var isAdmin = false;
    <% end %>
	</script>
    <div class="container">
			<% if current_user %>
				<div id="user_header">
					Usuario: <%= current_user.nombre %> 
					|<%= link_to 'Salir', :logout, method: "delete" %>
				</div>
			<% end %>
	
	
      <div class="content">

        <%= image_tag "logo_integra.jpg" %>


        <% if notice %>
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <p id="notice"><%= notice %></p>
            </div>
        <% end %>

        <% if alert %>
            <div class="alert alert-danger">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <p><%= alert.html_safe %></p>
            </div>
        <% end %>



        <%= yield %>
      </div><!--/content-->
    </div> 



  </body>
</html>
