<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Fundación Integra" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon">
</head>
<body>

<div class="container">
  <% if current_user %>
      <div id="user_header">
        Usuario: <%= current_user.nombre %>
        |<%= link_to 'Salir', session_path("current"), method: "delete" %>
      </div>
  <% end %>


  <div class="content">



    <%= yield %>
  </div><!--/content-->
</div>



</body>
</html>
